@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';


@theme {
  --color-accent: #a80000; 
  --color-secondary: #2B2B2B;

  --font-exo: 'Exo', sans-serif;
}

@layer base {
  html {
    font-family: var(--font-exo);
    color: var(--color-text, #333);
    background-color: var(--color-background, #fff);
    /* scroll-behavior: smooth; */
    overscroll-behavior: none;
  }

    body {
        @apply antialiased scroll-smooth;
    }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }

  a:hover {
    text-decoration: underline;
  }
}